<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
    </head>
    <body id="outer">
        <div id="inner">
            <table id="rest_list">
            <caption>Restaurant list</caption>
                <thead>
                    <tr>
                        <th>식당명</th>
                        <th>식당코드</th>
                        </tr>
                </thead>
                <tbody>
                    {% for x in res_list %}
                    <tr>
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] }}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <br>
            <form action="POST" id="authForm"> <!-- 수정?-->
                <input type="text" id="restaurant" name="restaurant" placeholder="식당코드로 검색하세요."><!--name 속성을 변수로 받으면 됨 request.form['restaurant']이런 식으로-->
                <input type="submit" value="검색"/>
                {{% if error ==None %}}
                    <h1>{{restaurant_name}}</h1>
                {%else%}
                    <h2>{{error}}</h2>
                {%endif%}
                    
            </form>
        </div>
    </body>
</html>